<ion-view view-title="Admin">
  <ion-content>
    <div class="card item list card-default">
      <div class="item item-body card-body">
        <h1>Add Event</h1>
        Club administrators can schedule events from here.
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Name">
          </label>
          <label class="item item-input">
            <input type="time" placeholder="Date">
          </label>
          <label class="item item-input">
            <textarea placeholder="Description"></textarea>
          </label>
          <a class="button button-positive button-block">Schedule</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
