.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
  font-family: 'Open Sans';
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

$fg-color: black;
$fg-color-2: #444;

.feed {
  & > a {
    background-color: white !important;
    margin-top: 0;
  }
  .item {
    position: relative;
    margin-bottom: 10px;
    h3 {
      margin-top: 0;
      border-bottom: 1px solid #ccc;
    }
    .config {
      max-height: 0;
      overflow: hidden;
      margin: 0 -18px;
      padding: 0 18px;
      background-color: #eee;
      -webkit-transition: max-height 0.2s;
      transition: max-height 0.2s;
      &.visible {
        max-height: 10000px;
      }
    }
    .card-actions {
      position: absolute;
      top: 10px;
      right: 10px;
      a {
        padding: 5px;
        margin: 0;
        i {
          font-size: 14pt;
        }
      }
    }
  }
}
ul.events {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  li {
  }
}
