.pull-right {
  float: right;
}

.config {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 5px;
  &:not(.visible) {
    display: none;
  }
}
ion-view {
  background: url("../img/background2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.button-block {
  margin: 20px 10px;
}
.angular-google-map-container {
  height: 320px;
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 720px;
    margin: 20px auto !important;
  }
  .button-block {
    max-width: 720px;
    margin: 20px auto !important;
  }
}

